# Environment variables
dev.env
.env.*
!.env.example

# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/
.next/
out/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

